.navigation a {
  text-decoration: none;
  color: lime;
  margin: 5px;
}

.navLinks {
  text-decoration: none;
  color: orange;
  margin: 5px;
}

.navigation a.active {
  text-decoration: none;
  color: pink;
  margin: 5px;
}

/* .navigation {
  background-color: ;
} */